/* =========================================
   11. FOOTER
========================================= */

.tslnFooter{
  width:100%;
  z-index: 4;
  top: 0;
  margin-top:auto;
  background:var(--tsln-blue-dark);
  color:var(--tsln-white);
  border-top:1px solid rgba(255,255,255,.08);
}

.tslnFooterInner{
  width:min(100%,var(--container-max));
  margin-inline:auto;
  padding:4rem var(--container-padding);
  display:grid;
  grid-template-columns:1.5fr 1fr 1fr;
  gap:3rem;
}

.tslnFooterBrand{
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.tslnFooterLogo{
  width:max-content;
  color:var(--tsln-white) !important;
  font-size:var(--text-xl);
  font-weight:var(--font-weight-title);
  letter-spacing:-.03em;
  font-style: italic;
  margin-bottom: 2rem;
}

.tslnFooterBrand p{
  margin:0;
  max-width:32rem;
  color:var(--tsln-white);
  line-height:1.7;
}

.tslnFooterHeading{
  margin-bottom:1rem;
  color:var(--tsln-white);
  font-size:.95rem;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:.08em;
}

.tslnFooterLinks{
  display:flex;
  flex-direction:column;
  gap:.9rem;
}

.tslnFooterLinks a,
.tslnFooterContact a{
  width:max-content;
  color:var(--tsln-white);
  font-size: var(--text-small);
  font-weight: var(--font-weight-title);
  transition:var(--transition-fast);
}

.tslnFooterLinks a:hover,
.tslnFooterContact a:hover{
  color:var(--tsln-border);
  text-decoration-color:var(--tsln-blue);
  text-underline-offset:.25rem;
}

.tslnFooterContact{
  margin-top:1rem;
}

.tslnFooterSocials{
  display:flex;
  justify-content:flex-end;
  flex-wrap:wrap;
  gap:.75rem;
}

.tslnSocialIcon{
  width:3rem;
  height:3rem;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  flex:0 0 3rem;
  border-radius:var(--radius-full);
  background:var(--tsln-blue);
  border:1px solid rgba(255,255,255,.10);
  color:var(--tsln-white);
  text-decoration:none;
  transition:var(--transition-normal);
}

.tslnSocialIcon svg{
  width:2.1rem;
  height:2.1rem;
  display:block;
}

.tslnSocialIcon:hover{
  background:var(--tsln-border);
  border-color:var(--tsln-border);
  color:var(--tsln-blue);
  transform:translateY(-2px);
}


/* =========================================
   12. FOOTER BOTTOM
========================================= */

.tslnFooterBottom{
  border-top:1px solid rgba(255,255,255,.08);
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:1rem;
  padding:3.25rem var(--container-padding);
  color:var(--tsln-white);
  font-size:var(--text-small);
}

.tslnFooterBottomLinks{
  display:flex;
  align-items:center;
  gap:1rem;
}

.tslnFooterBottomLinks a{
  color:var(--tsln-white);
}

.tslnFooterBottomLinks a:hover{
  color:var(--tsln-white);
}




@media(max-width:768px){
  :root{
    --container-padding:1rem;
    --text-hero:clamp(2.2rem,12vw,3rem);
  }

  .tslnFooterInner{
    grid-template-columns:1fr;
    padding:3rem 1rem;
    gap:3rem;
  }

  .tslnFooterHeading{
  border-bottom: 1px solid var(--tsln-border);
}

  .tslnFooterSocials {
    justify-content:center;
    padding: 1rem 0;
  }

  .tslnSocialIcon {
    width:3rem;
    height:3rem;
    flex-basis:3rem;
  }

  .tslnSocialIcon svg {
    width:2.1rem;
    height:2.1rem;
  }

  .tslnFooterBottom {
    flex-direction:column;
    align-items:center;
    gap:.75rem;
  }

  .tslnFooterBottomLinks {
    flex-wrap:wrap;
    text-align: center;
  }
}