/* =========================================
   11. FOOTER
========================================= */

.tslnFooter{
  width:100%;
  z-index: 5;
  top: 0;
  margin-top:auto;
  padding:4rem 0;
  background:var(--tsln-white);
  color:var(--tsln-blue-dark);
  padding-bottom: 3rem;
}

.tslnSeparatorContainer{
  width:min(100%, var(--container-max));
  margin:1rem auto;
  padding:0 var(--container-padding);
}

.tslnSeparatorContainer::after{
  content:"";
  display:block;
  height:1px;
  background:var(--tsln-border);
}

.tslnFooterInner{
  width:min(100%, var(--container-max));
  margin-inline:auto;
  padding:4rem var(--container-padding);
  display:grid;
  grid-template-columns:1.2fr 1fr 1fr 1.3fr;
  gap:3rem;
  align-items:start;
}

.tslnFooterBrand{
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.tslnFooterLogo{
  width:max-content;
  margin-bottom:1rem;
  color:var(--tsln-blue);
  font-size:var(--text-xl);
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--letter-tight);
  font-style:none;
  line-height:1;
  text-decoration:none;
}

.tslnFooterLogo .tslnBrandText{
  font-size:var(--text-xl);
  display: block;
  font-weight:var(--font-weight-h1);
  letter-spacing:var(--letter-tight);
  line-height:1;
}

.tslnFooterBrand p{
  margin:0;
  max-width:32rem;
  display: none;
  color:var(--tsln-blue-dark);
  font-size:var(--text-small);
  font-weight:var(--font-weight-medium);
  line-height:1.7;
}

.tslnFooterHeading{
  margin:0 0 1rem;
  color:var(--tsln-blue-dark);
  font-size:var(--text-md);
  font-weight:var(--font-weight-h1);
}

.tslnFooterLinks{
  display:flex;
  flex-direction:column;
  gap:.30rem;
}

.tslnFooterLinks a,
.tslnFooterContact a{
  width:max-content;
  color:var(--tsln-blue-dark);
  font-size:var(--text-small);
  font-weight:var(--font-weight-medium);
  text-decoration:none;
  transition:var(--transition-fast);
}

.tslnFooterLinks a:hover{
  color:var(--tsln-muted);
  text-decoration:underline;
  text-underline-offset:.25rem;
}

.tslnFooterContact{
  width:max-content;
  margin-top:4rem;
  padding:.65rem 1rem;
  border:1px solid var(--tsln-border);
  border-radius:var(--radius-full);
  box-shadow: var(--shadow-sm);
  background:var(--tsln-white);
  transition:var(--transition-fast);
}

.tslnFooterContact:hover{
  background:var(--tsln-bg-muted);
  box-shadow:var(--shadow-sm);
}

.tslnFooterSocials{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  flex-wrap:wrap;
  gap:.75rem;
}

.tslnSocialIcon{
  width:3rem;
  height:3rem;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  flex:0 0 3rem;
  border-radius:var(--radius-full);
  background:var(--tsln-blue);
  border:1px solid var(--tsln-blue);
  color:var(--tsln-white);
  text-decoration:none;
  transition:var(--transition-normal);
}

.tslnSocialIcon svg{
  width:1.65rem;
  height:1.65rem;
  display:block;
}

.tslnSocialIcon:hover{
  background:var(--tsln-white);
  border-color:var(--tsln-blue);
  color:var(--tsln-blue);
  transform:translateY(-2px);
}

/* =========================================
   12. FOOTER BOTTOM
========================================= */

.tslnFooterBottom{
  width:min(100%, var(--container-max));
  margin-inline:auto;
  padding:1.5rem var(--container-padding);
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:3rem;
  color:var(--tsln-muted);
  font-weight: var(--font-weight-legal-medium);
  font-size:var(--text-small);
}

.tslnFooterBottom p{
  margin:0;
  font-weight: var(--font-weight-legal-medium);
}

.tslnFooterBottomLinks{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  flex-wrap:wrap;
  gap:.55rem;
}

.tslnFooterBottomLinks a{
  color:var(--tsln-blue-dark);
  text-decoration:none;
  font-weight: var(--font-weight-legal-medium);
  transition:var(--transition-fast);
}

.tslnFooterBottomLinks a:hover{
  color:var(--tsln-blue);
  text-decoration:underline;
  text-underline-offset:.25rem;
}

/* =========================================
   FOOTER MOBILE
========================================= */

@media(max-width:768px){

  .tslnFooterInner{
    grid-template-columns:1fr;
    padding:3rem 2rem;
    padding-bottom: 1rem;
    gap:2.25rem;
    text-align:center;
  }

  .tslnFooterBrand{
    align-items:center;
  }

  .tslnFooterLogo{
    margin-inline:auto;
    margin-bottom:.75rem;
  }

  .tslnFooterBrand p{
    max-width:100%;
    text-align:center;
  }

  .tslnFooterHeading{
    text-align:left;
    margin-top: 1rem;
  }

  .tslnFooterLinks{
    align-items:left;
  }

  .tslnFooterLinks a,
  .tslnFooterContact a{
    width:auto;
    text-align:left;
  }

  .tslnFooterContact{
    margin:1rem auto 0;
    margin-top: 3rem;
  }

  .tslnFooterSocials{
    justify-content:center;
    padding:.5rem 0;
  }

  .tslnSocialIcon{
    width:3rem;
    height:3rem;
    flex-basis:3rem;
  }

  .tslnSocialIcon svg{
    width:1.55rem;
    height:1.55rem;
  }

  .tslnFooterBottom{
    padding:1.5rem 1rem 2rem;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap:.85rem;
  }

  .tslnFooterBottomLinks{
    justify-content:center;
    gap:.85rem;
  }
}